.google-image {
    max-width: 100%;
    height: 10rem;
}
.texto {
    font-size: 18px;
    color: #333;
}
.card {
    width: 70%;
    margin: auto;
    border: none;
    border-radius: 10px;
    background-color: #f8f9fa;
}

.card-body {
    padding: 20px;
}
.card-text{
    color: grey;
    font-size: 1.4rem;
}

  .form-label {
    display: none; /* Oculta as etiquetas para economizar espaço em telas menores */
}

@media (max-width: 768px) {
    .form-label {
        display: block; /* Exibe as etiquetas novamente para telas menores */
    }
}

body {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra ao redor de todo o conteúdo */
    padding-bottom: 20px;
}
.mb-4{
    font-size: 2rem;
}
.mb-3{
    padding-bottom: 20px;
}
.mt-12{
    padding-bottom: 20px;
}